body {
    background-color: #f9f9f9;

    color: #333333ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
    background-color: #cc75d8;
    padding: 15px;
}

input {
    padding: 8px;
    
    font-size: 20px;
    width: 200px;
}

button {
    padding: 8px 15px;
    font-size: 20px;
    background-color: #800080;

    color: white;
}

button:hover {
    background-color: #cc75d8;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.message {
    text-align: center;
}
