body {
  background-color: #f9f9f9;

  color: #333333ff;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  background-color: #cc75d8;

  color: #800080;
  font-size: 40px;
}

h2 {
  background-color: #cc75d8;
  text-indent: 50px;
  
  color: #800080;
  font-size: 30px;
}

p {
  line-height: 1.6;
  text-indent: 30px;
  margin-left: 40px;

  font-size: 20px;
}

button {
  margin-left: 30px;
}

span.buttons {
  margin-left: 30px;
}

h3 {
  text-indent: 50px;
  
  font-size: 20px;
}

a {
  margin-left: 60px;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}
